h1 {
	color: white;
	padding-top: 25px;
}
.header{
	background-color: navy;
	height:120px;
	text-align: center;
	
}
.body-content{
	background-color: linen;
	height:620px;
	text-align:center;
	padding-top: 100px
	}
	.footer{
	background-color: green;
	height:70px;
	color: black;
	text-align: center;
padding-top: 5px;
	}
	a{
	color:white;
	}
	.container{
	background-color: linen;
	}
	.input{
	width:7%;
	height:30px;
	}
a{
	color:#0000a0;
}